
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin:0;
}
div{
  display:block;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
  z-index:1000;
}
li{
  line-height:20px;
  display:list-item;
  z-index:1002;
}
a{
  color:gray;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
a:hover {
  color:black;
}
.full-width{
  width:100%;
}
.top{
  top:0;
}
.fixed{
  position:fixed;
}
.liner{
  background-color: #535353;
  background-image: -moz-linear-gradient(top, #555, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: linear-gradient(to bottom, #555, #222);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff222222', GradientType=0);
}
.liner-half{
  background-color: #535353;
  background-image: -moz-linear-gradient(top, #555, #2D2D2D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#2D2D2D));
  background-image: -webkit-linear-gradient(top, #555, #2D2D2D);
  background-image: -o-linear-gradient(top, #555, #2D2D2D);
  background-image: linear-gradient(to bottom, #555, #2D2D2D);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff2d2d2d', GradientType=0);
}
.dropdown{
  position:absolute;
  z-index:1000;
  top:-155%;
  float:left;
  width:90px;
  padding: 5px 0;
  margin: -3px 0 0 6px;
  list-style: none;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition:all 0.2s ease-out;
}
li:hover .dropdown{
  top:75%;
}
ul.dropdown{
  background-color:white;
  padding-left:10px;
  display:block;
}
ul.dropdown li{
  background-color:white;
  padding:5px;
  display:block;
}
ul.dropdown li a:hover {
  color:black;
}
.container{
  margin-right: auto;
  margin-left: auto;
  width:1000px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.container::before, .container::after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar{
  color:white;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav .droplist{
  position:relative;
  z-index:1003;
  border-bottom:1px solid #1A1A1A;
  padding-bottom:0px;
  margin-bottom:0px;
  -moz-box-shadow: 0 8px 3px -6px #000;
  -webkit-box-shadow: 0 8px 3px -6px #000;
  box-shadow: 0 8px 3px -6px #000;

}
.navbar .brand{
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;

}
.brand{
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}
.navbar .brand:hover {
  color:gray;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.navbar .nav > li {
  float:left;
}
.navbar .nav > li > a{
  float: none;
  padding: 10px 15px 10px;
  text-decoration: none;
  color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display:block;
}
.navbar .nav > li > a:hover {
  color:white;
}
.collapse {
  height: auto !important;
  overflow: visible !important;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;

}
.caret {
  margin-top: 8px;
  margin-left:5px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  border-top-color: white;
  border-bottom-color: white;
  
}


